@tailwind base;
@tailwind components;
@tailwind utilities;

/* O resto do código que colocamos antes vem aqui embaixo... */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}